<form action="/recipes" method="POST">
<label for="recipe">Recipe</label>
<input type="text" id="name" name ="ingredients"></input>
<input type="text" id="content" name ="content"></input>
<input type="submit" value="submit">
</form>